{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

        <title>{% block title%}{% endblock%}</title>
        <style type="text/css">
            .tic-tac-toe {
                border-collapse: collapse;
            }

            .tic-tac-toe td {
                border: 1px solid #000;
                width: 100px;
                height: 100px;
                text-align: center;
                vertical-align: middle;
                font-size: 24px;
            }

            .tic-tac-toe td:hover {
                background-color: #f0f0f0;
                cursor: pointer;
            }

        </style>
        <script>
            function makeApiCall(cell_id) {
                 // Create a new FormData object
                var formData = new FormData();
                // Add data to the FormData object (if needed)
                formData.append('cell_id', cell_id);
                // Send the POST request
                fetch('board_update/', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    alert(data.message);
                    window.location.reload();
                    // Process the response here
                })
                .catch(error => console.error('Error:', error));
            }
        
        </script>
      </head>
  <body>
      <section class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active"  href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'game_list' %}">Game list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'game_create' %}">Game create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Signup</a>
              </li>
            {% endif %}
        </ul>
            {% include 'messages.html' %}
            {% block content %}
            {% endblock %}
       </section>
      {% block js %}
      {% endblock %}
    </body>
</html>